.detailBodyImage {
    width: 100px;
    height: auto
  }
  
  table, th, td {
    border-bottom: 1px solid #ddd;
  }

  table{
    margin: 0 auto;
  }

  .container-fluid{
    width: 100vw;
  }

  
#movies td, #movies th {
  
  padding: 8px;
}

#movies th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

h3{
  text-align: center;
}