agm-map {
    height: 70vh;
  }
  
  
  .input-container {
     
    width: 40%;
    margin: 0 auto; 
  } 
  
  .google-place-input {
    width: 100%;
    height: 2rem; 
    font-size: 1.5rem; 
    padding: 0.5rem;
  }

 
  .form-search{
    width: 100%;
    font-size: 28px;
  }
  